/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#search_button{
	margin-top: -8px;
}
.search_header{
	margin-top: -7px;
}
#search_but_header{
	margin-top: -8px;
}
.sign_out{
	position: right;
	padding-left: 525px;
}
.sign_in{
	margin-left:0.5%;
	padding-left: 525px;

}
