.table1{
	margin-right: auto;
	margin-left: auto;
}
.search_button{
	margin-top: -15px;
}
.form_index{
	display: inline;
	margin-right:1%;
}
form{
	display: inline;
}
.index_button{
	margin-right:1%;
}