<div id="new_review">
  <div id="mapCanvas">
    <% if @locations.empty? %>
      <% @center_latitude = 38.8792 %>
      <% @center_longitude = -99.3268 %>
      <% @zoom = 4 %>
    <%else%>
      <% @zoom = 10%>
    <% end %>
    <% if @search!=nil %>
      <% @zoom = 10 %>
    <% end %>
    <% puts "---------------------#{@locations.size != 1 ? true : false}-------------------"%>
    <%= gmaps({"map_options" => {"auto_adjust" => @locations.empty? ? false : true,
                                 "auto_zoom" => @locations.size != 1 ? true : false,
                                 "zoom" => @zoom, "center_latitude" => @center_latitude, 
                                 "center_longitude" => @center_longitude },
                                 "options" => {"custom_infowindow_class" => "yellow"},
               "markers" => {"data" => @json}}) %>
  </div>
</div>
