<div id="mapCanvas">
	<%center_latitude = 38.8792%>
	<%center_longitude = -99.3268%>
	<%= gmaps({"map_options" => {"auto_adjust" => false, "auto_zoom" => true, "zoom" => 10, "center_latitude" => @center_latitude, "center_longitude" => @center_longitude },"markers" => {"data" => @json }})%>
</div> 
